@import '../../../styles.scss';

.container {
    padding: 20px;
    width: 100%;

    ::ng-deep {

        h1,
        h2,
        h3 {
            color: $primaryColor !important;
            margin-top: 0;
        }

        a {
            color: $secandColor !important;

            &:hover {
                color: #D3ED97 !important;
            }

            &.active-a {
                color: $primaryColor !important;
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (min-width: 720px) {
    article {
        width: calc((100vw - 150px) * 2) !important;
        column-count: 2 !important;
        column-gap: 60px;
    }
}

@media only screen and (min-width: 720px) and (min-height: 810px) {

    .container {
        padding: 40px;
        height: 100%;
        overflow: visible;
        width: 100%;
        margin: 0 auto;
    }

    ::ng-deep {
        section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            column-gap: 20px;
            overflow: hidden;

            h1,
            h2,
            h3,
            p,
            ul,
            span {
                width: calc(100vw - 180px);
                max-width: 1360px;
                break-inside: avoid;
                margin: 10px 0;
                margin-right: 40px;
            }

            h1 {
                color: transparent !important;
                -webkit-text-stroke: 1px $primaryColor !important;
                text-stroke: 1px $primaryColor !important;
                font-size: 32px !important;
                font-weight: bold !important;
            }

            h2,
            h3 {
                color: $primaryColor !important;
            }

            li {
                margin-right: 20px;
            }

            a {
                color: $secandColor !important;

                &:hover {
                    color: #D3ED97 !important;
                }

                &.active-a {
                    color: $primaryColor !important;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    article {
        width: calc((100vw - 150px) ) !important;
        column-count: 2 !important;
        column-gap: 60px;
    }
}