<div class="container">
    <div class="why-me-container">
        <div>
            <div class="why-me-header">
                <div class="headline">
                    <h2 class="outline-text">{{ 'Warum' | translate }}</h2>
                </div>
            </div>
        </div>
        <div class="text-icon-container">
            <span>{{ 'Warum-desc' | translate }} </span>
            <div class="icons-contactbtn-container">
                <h3>{{ 'Ich bin' | translate }}</h3>
                <div class="icon-container">
                    <app-icons-name *ngFor="let item of icon; let i = index"
                    [name]="item.name"
                    [image]="item.image"
                    (mouseenter)="changeImage(i, true)"
                    (mouseleave)="changeImage(i, false)"></app-icons-name>
                </div>
                <app-button [href]="'contact'" [name]="'contact me'"></app-button>
            </div>
        </div>
    </div>
    <div class="arrow-container">
        <app-arrow [href]="'skills'"></app-arrow>
    </div>
</div>