<div class="navbar-container">
    <div class="navbar">
        <div class="logo" (click)="onNavigate('hero-mobile')">
            <img src="assets/img/logo.svg" alt="">
        </div>
        <div class="nav-menu">
            <div id="burgermenu" class="burgermenu" [class.navbar-open]="isMenuOpen" (click)="theRespMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="link-container" [class.show]="isMenuOpen">
        <div class="link-to-sections">
            <div class="link" (click)="onNavigate('why-me-mobile')" [class.active]="activeSection === 'why-me-mobile'">
                <span>{{ 'nav.why' | translate }}</span>
            </div>
            <div class="link" (click)="onNavigate('skills-mobile')" [class.active]="activeSection === 'skills-mobile'">
                <span>Skills</span>
            </div>
            <div class="link" (click)="onNavigate('my-work-mobile')" [class.active]="activeSection === 'my-work-mobile'">
                <span>{{ 'nav.work' | translate }}</span>
            </div>
            <div class="link" (click)="onNavigate('contact-mobile')" [class.active]="activeSection === 'contact-mobile'">
                <span>{{'nav.contact' | translate }}</span>
            </div>
            <div class="lang-container">
                <span class="pointer" [class.active]="languageService.currentLang === 'en'" (click)="switchLanguage('en')">EN</span>
                <div class="line"></div>
                <span class="pointer" [class.active]="languageService.currentLang === 'de'" (click)="switchLanguage('de')">DE</span>
            </div>
        </div>
    </div>
</div>
