<div class="container">
    <div>
        <div class="contact-container">
            <div>
                <div class="contact-header">
                    <div class="headline">
                        <h2 class="outline-text">{{ 'contact.title' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="work-info-container hide-mobile">
                <span>{{'contact.subtitle' | translate}}</span>
                <span>{{'contact.motivation' | translate}}</span>
                <div class="email-container" (mouseenter)="contactIcons.email.isHovered = true"
                    (mouseleave)="contactIcons.email.isHovered = false" (mousedown)="contactIcons.email.isActive = true"
                    (mouseup)="contactIcons.email.isActive = false">
                    <img [src]="getContactImage('email')" alt="email">
                    <span class="email-span" [class.active-email]="contactIcons.email.isActive" (click)="onEmailClick()">E-mail:
                        hoerst.alexander&#64;gmail.com</span>
                </div>
                <div class="phone-container" (mouseenter)="contactIcons.phone.isHovered = true"
                    (mouseleave)="contactIcons.phone.isHovered = false" (mousedown)="contactIcons.phone.isActive = true"
                    (mouseup)="contactIcons.phone.isActive = false">
                    <img [src]="getContactImage('phone')" alt="phone">
                    <span class="phone-span" [class.active-phone]="contactIcons.phone.isActive" (click)="onPhoneClick()">Tel: 01575
                        2102518</span>
                </div>
            </div>
            <form class="contact-input-container" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-wrapper">
                    <input type="text" name="input-name" id="input-name" [(ngModel)]="formData.name"
                        [class.warning-input]="formErrors.name"
                        (ngModelChange)="validateOnChange('name')"
                        [placeholder]="formErrors.name ? ('contact.placeholder.error.name' | translate) : ('contact.placeholder.name' | translate)"
                        required>
                    <img *ngIf="shouldShowIcon('name')" [src]="getValidationIcon('name')" class="validation-icon"
                        alt="validation">
                </div>
                <div class="input-wrapper">
                    <input type="email" name="input-email" id="input-email" [(ngModel)]="formData.email"
                        [class.warning-input]="formErrors.email"
                        (ngModelChange)="validateOnChange('email')"
                        [placeholder]="formErrors.email ? ('contact.placeholder.error.email' | translate) : ('contact.placeholder.email' | translate)"
                        required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <img *ngIf="shouldShowIcon('email')" [src]="getValidationIcon('email')" class="validation-icon"
                        alt="validation">
                </div>
                <div class="input-wrapper">
                    <textarea name="message" id="message" [(ngModel)]="formData.message"
                        [class.warning-input]="formErrors.message"
                        (ngModelChange)="validateOnChange('message')"
                        [placeholder]="formErrors.message ? ('contact.placeholder.error.message' | translate) : ('contact.placeholder.message' | translate)"
                        required></textarea>
                    <img *ngIf="shouldShowIcon('message')" [src]="getValidationIcon('message')" class="validation-icon"
                        alt="validation">
                </div>
                <div class="policy-container">
                    <img class="checkbox" [src]="getCheckboxImage()" (click)="toggleCheckbox()"
                        (mouseenter)="checkboxState.isHovered = true" (mouseleave)="checkboxState.isHovered = false"
                        alt="checkbox" required>
                    <span>{{'contact.policycheck' | translate}} <a href="policy" class="link" [class.active-link]="contactIcons.policy.isActive"
                            (mousedown)="contactIcons.policy.isActive = true"
                            (mouseup)="contactIcons.policy.isActive = false">{{'contact.policy' | translate}}</a> {{'contact.policycheck2' | translate}}</span>
                </div>
                <span class="policy-error" [class.warning-text]="formErrors.policy">
                    {{'contact.policyerror' | translate}}
                </span>
                <button [class.disabled]="!checkboxState.isChecked" type="submit" value="Submit">{{ 'contact.button' |
                    translate }}</button>
            </form>
            <div class="send-info-container" *ngIf="showSendInfo">
                <div class="send-info" [ngClass]="{'error': !sendSuccess}">
                    <img [src]="sendSuccess ? 'assets/img/check_ok.svg' : 'assets/img/check_error.svg'" alt="sendinfo">
                    <span>{{ (sendSuccess ? 'contact.sendinfo' : 'contact.senderror') | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-text-container">
        <div class="hide-desktop">
            <span>{{'contact.subtitle' | translate}}</span>
            <span>{{'contact.motivation' | translate}}</span>
            <div class="email-container" (mouseenter)="contactIcons.email.isHovered = true"
                (mouseleave)="contactIcons.email.isHovered = false" (mousedown)="contactIcons.email.isActive = true"
                (mouseup)="contactIcons.email.isActive = false">
                <img [src]="getContactImage('email')" alt="email">
                <span class="email-span" [class.active-email]="contactIcons.email.isActive" (click)="onEmailClick()">E-mail:
                    hoerst.alexander&#64;gmail.com</span>
            </div>
            <div class="phone-container" (mouseenter)="contactIcons.phone.isHovered = true"
                (mouseleave)="contactIcons.phone.isHovered = false" (mousedown)="contactIcons.phone.isActive = true"
                (mouseup)="contactIcons.phone.isActive = false">
                <img [src]="getContactImage('phone')" alt="phone">
                <span class="phone-span" [class.active-phone]="contactIcons.phone.isActive" (click)="onPhoneClick()">Tel: 01575 2102518</span>
            </div>
        </div>
        <app-arrow class="hide-desktop" [href]="'hero'"></app-arrow>
        <app-arrow class="hide-mobile" [href]="'hero-mobile'"></app-arrow>
        <div class="hide-desktop">
            <a href="legal-notice" class="link" [class.active-link]="contactIcons.legalnotice.isActive"
                (mousedown)="contactIcons.legalnotice.isActive = true"
                (mouseup)="contactIcons.legalnotice.isActive = false">{{ 'footer.legal' | translate }}</a>
            <a href="policy" class="link" [class.active-link]="contactIcons.policy.isActive"
                (mousedown)="contactIcons.policy.isActive = true" (mouseup)="contactIcons.policy.isActive = false">{{
                'footer.policy' | translate }}</a>
            <p>&copy; Alexander Hörst 2025</p>
        </div>
    </div>
</div>